@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');
*{
         padding: 0;
         margin: 0;
}
body{
         min-height: 100vh;
         background: black;
         box-sizing: border-box;
         font-family: 'Source Code Pro', monospace;
         color: whitesmoke;
}
.container{
         min-height: inherit;
         display: flex;
}

h2{
        color: rgb(112, 112, 112);
        padding: 0.8em;
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
       
}

div.main{
        width: 50%;
         margin: auto;
         background: rgb(0, 0, 0);

         
}

.password-container{
        margin-bottom: 1.2em;
        background: rgb(32, 32, 32);
        padding: 1em;
        font-size: 1.2rem;
}



.password-properties{
        background: rgb(32, 32, 32);
}



